<!DOCTYPE html>
<html lang="sv">
<head>

    <meta charset="UTF-8">
    <title>Twitetr</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet" >
    <link href="/css/style.css" rel="stylesheet">



</head>
<body>
<div id="grad">
<div class="animated fadeIn">

<nav class="navbar navbar-expand-lg navbar-light bg-light">



			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Twitetr</a>
					</li>


				</ul>
				<ul class="nav navbar-nav nav-pills pull-right">
					{{#if user}}

					<li role="presentation">
            <input type="text" id="user-twitter" class="btn btn-outline-secondary twitter-btncolor btn-block" value="@{{user.twitterhandle}}" readonly>

					</li>
					<li role="presentation">
						<a class="btn btn-outline-secondary twitter-btncolor btn-block" href="auth/logout">Logga ut</a>
					</li>


					{{else}}

					<li role="presentation">
						<a class="btn btn-outline twitter-btncolor twitter-btncolor btn-block" href="auth/twitter">Logga in</a>
					</li>


					{{/if}}
				</ul>
			</div>


</nav>

<div class="alerts">

        {{#if success_msg}}
		    <div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{success_msg}}}
            </div>
        {{/if}}

        {{#if error_msg}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{error_msg}}}
            </div>
        {{/if}}


         {{#if fail_msg}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{fail_msg}}}
            </div>
        {{/if}}

         {{#if error}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{error}}}
            </div>
        {{/if}}

        {{#if errors}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{errors}}}
            </div>
        {{/if}}


         {{#if errors}}
             {{#each error}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                    {{{error_msg}}}
            </div>
            {{/each}}
        {{/if}}

        {{#if tweetError_msg}}
        <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{tweetError_msg}}}
            </div>
        {{/if}}

        {{#if tweet_msg}}
        <div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
                {{{tweet_msg}}}
            </div>
        {{/if}}
</div>

{{{body}}}

</div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script src="/js/script.js"></script>

</body>
</html>
